@keyframes showLangOptions {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showPopupMobile {
  from {
    top: -10rem;
  }
  to {
    top: 10dvh;
  }
}
@keyframes hidePopupMobile {
  from {
    top: 10dvh;
  }
  to {
    top: -10rem;
  }
}
@keyframes showPopupDesktop {
  from {
    bottom: -10rem;
  }
  to {
    bottom: 2rem;
  }
}
@keyframes hidePopupDesktop {
  from {
    bottom: 2rem;
  }
  to {
    bottom: -10rem;
  }
}
@keyframes addProfile {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes removeProfile {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes userShiningAnimation {
  from {
    top: 1rem;
    left: -100%;
  }
  to {
    top: -3em;
    left: 100%;
  }
}
@keyframes showTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes filmsLoading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showUserPanel {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY(100%) scale(1);
  }
}
@keyframes showFilmInfo {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading-area,
.loading-area-small {
  position: absolute;
  inset: 0;
}

.loader-big,
.loader-small {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.loader-small {
  position: absolute;
}

.loader-big {
  position: fixed;
}

.loading-circle-big {
  fill: none;
  stroke: url(#loader-accent);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 220;
  transform-origin: center;
  stroke-dashoffset: 150;
  animation: spin 1s linear infinite;
}

.loading-circle-small {
  fill: none;
  stroke: url(#loader-accent-small);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 95;
  stroke-dashoffset: 50;
  transform-origin: center;
  animation: spin 1s linear infinite;
}

.error-popup {
  width: min(80%, 35rem);
  position: fixed;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  background-color: #0a141c;
  border-radius: 1rem;
  z-index: 1000;
  animation: showPopupMobile 0.5s forwards;
}
.error-popup.hidden {
  animation: hidePopupMobile 0.5s forwards;
}
.error-popup__text {
  text-align: center;
  line-height: 150%;
  font-size: 1.6rem;
  color: var(--errorTxtColor);
}

.name-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  display: block;
  width: 80%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.2rem);
  z-index: 1000;
}

.search-engine__box {
  position: relative;
  margin-inline: clamp(1rem, 3vw, 5rem);
  margin-block-start: 3rem;
}

.search-engine__input {
  padding: 2rem 4rem;
  display: block;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.4rem;
  caret-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  transition: background-color 0.3s;
}
.search-engine__input:focus, .search-engine__input:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
  background-color: rgba(255, 255, 255, 0.15);
}
.search-engine__input:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.search-engine__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  pointer-events: none;
  width: 2.25rem;
}

.container__not-found-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}
.container__not-found-text {
  font-size: clamp(1.8rem, 1.8rem + 2vw, 5rem);
}

@media (768px <= width) {
  .error-popup {
    top: auto;
    left: auto;
    transform: none;
    bottom: -10rem;
    right: 2rem;
    animation: showPopupDesktop 0.5s forwards;
  }
  .error-popup.hidden {
    animation: hidePopupDesktop 0.35s forwards;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --carousell-btn-size: 0.9rem;
  --errorTxtColor: #dc4a34;
  --main-bg: radial-gradient(circle at 20% 90%, #27496d -20%, transparent 60%),
  	radial-gradient(circle at 80% 32%, #27496d -10%, transparent 60%), #0a141c;
}

body {
  height: 100dvh;
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: var(--main-bg);
}

.root {
  min-height: 100%;
  width: 100%;
  background: var(--main-bg);
}

.wrapper {
  width: min(100%, 140rem);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(clamp(3rem, 4vw, 4rem) - 1rem) clamp(1rem, 3vw, 5rem);
}

.login-header__logo {
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 1rem;
}
.login-header__logo:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
}
.login-header__logo-img, .login-header__logo-text {
  vertical-align: middle;
}
.login-header__logo-img {
  width: 3rem;
  height: auto;
}
.login-header__lang-select {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 1rem;
}
.login-header__lang-select:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
}
.login-header__lang-select.active .login-header__lang-choice {
  display: block;
  animation: showLangOptions 0.3s forwards;
}
.login-header__lang-select.active .login-header__lang-arrow {
  transform: rotate(180deg);
}
.login-header__lang-arrow {
  transition: transform 0.2s;
}
.login-header__lang-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  left: 0;
  list-style-type: none;
  text-align: left;
}
.login-header__lang-choice {
  display: none;
  padding: 1rem;
  transform: translateY(-100%);
  font-size: 1.4rem;
  opacity: 0;
  cursor: pointer;
}
.login-header__lang-choice:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
}

.main .wrapper {
  padding: 0 clamp(1rem, 3vw, 5rem);
  margin: 5rem auto;
  text-align: center;
}
.main__title, .main__subtitle {
  display: block;
  line-height: 140%;
  font-size: clamp(2rem, 2.4rem + 3vw, 7rem);
  letter-spacing: 1px;
  font-weight: 700;
}
.main__subtitle {
  margin-block-end: 1.5rem;
}
.main__text {
  font-size: clamp(1.4rem, 1.6rem + 1vw, 3rem);
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.95);
}
.main__form {
  width: min(100%, 50rem);
  margin-block-start: 4rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 1rem + 0.5vw, 2rem);
}
.main__form-input {
  width: 100%;
  padding: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
  font-size: clamp(1.4rem, 1.4rem + 0.5vw, 1.8rem);
  border: none;
  border-radius: 1rem;
  caret-color: #aaa5a5;
  background-color: rgba(2, 19, 31, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.main__form-input::placeholder {
  color: #aaa5a5;
}
.main__form-button {
  position: relative;
  width: 100%;
  padding: clamp(1.5rem, 1.5rem + 0.5vw, 2rem) 3rem;
  border-radius: 1rem;
  border: none;
  background-color: #4da8da;
  color: #fff;
  font-size: clamp(1.4rem, 1.4rem + 0.2vw, 1.8rem);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
.main__form-button:disabled {
  background-color: #aba1a1 !important;
  cursor: not-allowed;
}
.main__form-button:disabled .main__form-button-text {
  visibility: hidden;
}
.main__form-error-txt {
  display: none;
  margin-block-start: 0.5rem;
  color: #e74c3c;
  font-size: clamp(1.4rem, 1.4rem + 0.2vw, 1.8rem);
  font-weight: 300;
}
.main__form-error-txt.visible {
  display: block;
}
.main__form-button:focus-visible, .main__form-input:focus, .main__form-input:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
}

.main-profiles .wrapper {
  padding: 9rem clamp(1rem, 3vw, 5rem);
}
.main-profiles__title {
  text-align: center;
}
.main-profiles__box {
  margin-block-start: 9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(6rem, 5rem - 5vw, 1rem);
}
.main-profiles__profile, .main-profiles__add-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-basis: 20rem;
  transform: scale(0.9);
}
.main-profiles__profile.visible, .main-profiles__add-profile.visible {
  animation: addProfile 0.5s forwards ease-in-out;
}
.main-profiles__profile.hidden, .main-profiles__add-profile.hidden {
  animation: removeProfile 0.3s forwards ease-in-out;
}
.main-profiles__add-profile {
  order: 1;
  transform: scale(1);
}
.main-profiles__btn {
  position: relative;
  display: block;
  width: 12rem;
  height: 12rem;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.main-profiles__btn:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
}
.main-profiles__btn--add-profile {
  background-color: rgba(255, 255, 255, 0.1);
}
.main-profiles__img, .main-profiles__add-img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.main-profiles__add-img {
  top: 50%;
  width: 5rem;
  height: 5rem;
}
.main-profiles__name {
  text-align: center;
  width: auto;
  min-width: 3ch;
  max-width: 18ch;
  padding: 0.4rem 0;
  display: inline-block;
  font-size: 1.6rem;
  pointer-events: none;
  background: none;
  color: #fff;
  outline: none;
  border: none;
  transition: border-color 0.3s;
}
.main-profiles__name.focused {
  pointer-events: all;
}
.main-profiles__name.focused + .name-border {
  transform: translateX(-50%) scale(1);
}
.main-profiles__user-info {
  position: relative;
}
.main-profiles__edit-name, .main-profiles__save-name, .main-profiles__remove-user {
  position: absolute;
  left: 50%;
  top: 2.5rem;
  transform: translateX(-100%);
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
.main-profiles__edit-name.hidden, .main-profiles__save-name.hidden, .main-profiles__remove-user.hidden {
  visibility: hidden;
  pointer-events: none;
}
.main-profiles__edit-name:disabled, .main-profiles__save-name:disabled, .main-profiles__remove-user:disabled {
  opacity: 0.4;
  cursor: auto;
}
.main-profiles__edit-name:focus-visible, .main-profiles__save-name:focus-visible, .main-profiles__remove-user:focus-visible {
  outline: 0.2rem solid #4da8da;
  outline-offset: 0.3rem;
}
.main-profiles__remove-user {
  transform: translateX(0);
}
.main-profiles__edit-icon, .main-profiles__remove-icon {
  width: 1.5rem;
  pointer-events: none;
}
.main-profiles__save-icon {
  width: 1.8rem;
  pointer-events: none;
}

@media (768px <= width) {
  .login-header__lang-select {
    font-size: 2rem;
  }
  .login-header__lang-choice {
    font-size: 1.6rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
  }
  .login-header__lang-choice:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .main__form-button {
    transition: transform 0.3s, background 0.3s;
  }
  .main__form-button:hover {
    background-color: #298bc0;
  }
  .main-profiles__btn--add-profile {
    transition: background-color 0.3s;
  }
  .main-profiles__btn--add-profile:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .main-profiles__btn:not(.main-profiles__btn--add-profile) {
    border: 2px solid transparent;
    transition: border-color 0.1s;
  }
  .main-profiles__btn:not(.main-profiles__btn--add-profile):hover {
    border-color: rgba(255, 255, 255, 0.7);
  }
  .main-profiles__name {
    font-size: 1.8rem;
  }
  .main-profiles__edit-name, .main-profiles__remove-user, .main-profiles__save-name {
    top: 4rem;
  }
  .main-profiles__edit-name, .main-profiles__remove-user, .main-profiles__save-name {
    transition: background-color 0.3s;
  }
  .main-profiles__edit-name:hover, .main-profiles__remove-user:hover, .main-profiles__save-name:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .main-profiles__edit-icon, .main-profiles__remove-icon {
    width: 1.6rem;
  }
}
@media (992px <= width) {
  .login-header__logo {
    font-size: 3rem;
  }
  .login-header__logo-img {
    width: 4rem;
  }
  .login-header__lang-select {
    font-size: 2rem;
    padding: 1rem;
  }
  .main-profiles__btn {
    width: 15rem;
    height: 15rem;
  }
  .main-profiles__name {
    font-size: 1.8rem;
  }
  .main-profiles__box {
    gap: 3rem;
  }
}/*# sourceMappingURL=style.css.map */