@keyframes showLangOptions {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes showPopupMobile {
	from {
		top: -10rem;
	}
	to {
		top: 10dvh;
	}
}
@keyframes hidePopupMobile {
	from {
		top: 10dvh;
	}
	to {
		top: -10rem;
	}
}
@keyframes showPopupDesktop {
	from {
		bottom: -10rem;
	}
	to {
		bottom: 2rem;
	}
}
@keyframes hidePopupDesktop {
	from {
		bottom: 2rem;
	}
	to {
		bottom: -10rem;
	}
}

@keyframes addProfile {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes removeProfile {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}
