@use "./variables" as *;
.loading-area,
.loading-area-small {
	position: absolute;
	inset: 0;
}
.loader-big,
.loader-small {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
}
.loader-small {
	position: absolute;
}
.loader-big {
	position: fixed;
}
.loading-circle-big {
	fill: none;
	stroke: url(#loader-accent);
	stroke-width: 10;
	stroke-linecap: round;
	stroke-dasharray: 220;
	transform-origin: center;
	stroke-dashoffset: 150;
	animation: spin 1s linear infinite;
}
.loading-circle-small {
	fill: none;
	stroke: url(#loader-accent-small);
	stroke-width: 5;
	stroke-linecap: round;
	stroke-dasharray: 95;
	stroke-dashoffset: 50;
	transform-origin: center;
	animation: spin 1s linear infinite;
}
.error-popup {
	width: min(80%, 35rem);
	position: fixed;
	top: -10rem;
	left: 50%;
	transform: translateX(-50%);
	padding: spacing(200);
	background-color: #0a141c;
	border-radius: radius(100);
	z-index: 1000;
	animation: showPopupMobile 0.5s forwards;

	&.hidden {
		animation: hidePopupMobile 0.5s forwards;
	}
	&__text {
		text-align: center;
		line-height: 150%;
		font-size: $font-size-250;
		color: var(--errorTxtColor);
	}
}
.name-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) scale(0);
	display: block;
	width: 80%;
	height: 1px;
	background-color: rgba($pure-white, 0.1);
	transition: transform 0.3s;
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(0.2rem);
	z-index: 1000;
}

.login-box {
	position: fixed;
	bottom: 5vh;
	left: 50%;
	transform: translateX(-50%);
	padding: 2rem;
	background-color: $pure-white;
	color: #000;
	border-radius: $radius-100;

	&__username,
	&__password {
		display: block;
		font-size: $font-size-300;
		margin-bottom: 0.5rem;
	}
}

// 404

.container {
	&__not-found-main {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 80vh;
	}
	&__not-found-text {
		font-size: clamp(
			$font-size-300,
			calc($font-size-300 + 2vw),
			$font-size-800
		);
	}
}

@media (768px <= width) {
	.error-popup {
		top: auto;
		left: auto;
		transform: none;
		bottom: -10rem;
		right: 2rem;
		animation: showPopupDesktop 0.5s forwards;

		&.hidden {
			animation: hidePopupDesktop 0.35s forwards;
		}
	}
}
@media (992px <= width) {
	.login-box {
		bottom: 0;
	}
}
@media (1100px <= width) {
	.login-box {
		bottom: 40%;
		transform: translateY(50%);
		left: unset;
		right: 0;
	}
}
@media (1300px <= width) {
	.login-box {
		bottom: 50%;
		right: 5vw;
	}
}
