@use "./variables" as *;
.loading-area,
.loading-area-small {
	position: absolute;
	inset: 0;
}
.loader-big,
.loader-small {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
}
.loading-circle-big {
	fill: none;
	stroke: url(#loader-accent);
	stroke-width: 10;
	stroke-linecap: round;
	stroke-dasharray: 220;
	transform-origin: center;
	stroke-dashoffset: 150;
	animation: spin 1s linear infinite;
}
.loading-circle-small {
	fill: none;
	stroke: url(#loader-accent-small);
	stroke-width: 5;
	stroke-linecap: round;
	stroke-dasharray: 95;
	stroke-dashoffset: 50;
	transform-origin: center;
	animation: spin 1s linear infinite;
}
.error-popup {
	width: min(80%, 35rem);
	position: fixed;
	top: -10rem;
	left: 50%;
	transform: translateX(-50%);
	padding: spacing(200);
	background-color: #0a141c;
	border-radius: radius(100);
	z-index: 1000;
	animation: showPopupMobile 0.5s forwards;

	&.hidden {
		animation: hidePopupMobile 0.5s forwards;
	}
	&__text {
		text-align: center;
		line-height: 150%;
		font-size: $font-size-250;
		color: var(--errorTxtColor);
	}
}
.name-border {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) scale(0);
	display: block;
	width: 80%;
	height: 1px;
	background-color: rgba($pure-white, 0.1);
	transition: transform 0.3s;
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(0.2rem);
	z-index: 1000;
}

@media (768px <= width) {
	.error-popup {
		top: auto;
		left: auto;
		transform: none;
		bottom: -10rem;
		right: 2rem;
		animation: showPopupDesktop 0.5s forwards;

		&.hidden {
			animation: hidePopupDesktop 0.35s forwards;
		}
	}
}
