@font-face {
	font-family: "Badaboom";
	src: url("/fonts/BADABB__.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ringbearer";
	src: url("/fonts/RINGM___.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Creepster";
	src: url("/fonts/Creepster-Regular.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hey Comic";
	src: url("/fonts/Hey\ Comic.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
