@use "sass:map";

// SPACING
$spacing-0: 0;
$spacing-50: 0.5rem;
$spacing-100: 1rem;
$spacing-150: 1.5rem;
$spacing-200: 2rem;
$spacing-250: 2.5rem;
$spacing-300: 3rem;
$spacing-400: 4rem;
$spacing-500: 5rem;
$spacing-600: 6rem;
$spacing-700: 7rem;
$spacing-800: 8rem;
$spacing-900: 9rem;
$spacing-1000: 10rem;
$spacing-1100: 11rem;
$inline-spacing: clamp($spacing-200, 4vw, $spacing-500);
$header-block-spacing: clamp($spacing-200, 3vw, $spacing-400);
$header-btn-spacing: $spacing-100;

// Returns the spacing value for a given key (e.g., 0, 50, 100, "inline").

@function spacing($size) {
	$values: (
		0: $spacing-0,
		50: $spacing-50,
		100: $spacing-100,
		150: $spacing-150,
		200: $spacing-200,
		250: $spacing-250,
		300: $spacing-300,
		400: $spacing-400,
		500: $spacing-500,
		600: $spacing-600,
		700: $spacing-700,
		800: $spacing-800,
		900: $spacing-900,
		1000: $spacing-1000,
		1100: $spacing-1100,
		"inline": $inline-spacing,
		"header-block": $header-block-spacing,
		"header-btn": $header-btn-spacing,
	);
	@return map.get($values, $size);
}

// RADIUS
$radius-0: 0;
$radius-50: 0.5rem;
$radius-100: 1rem;
$radius-150: 1.5rem;
$radius-200: 2rem;
$radius-full: 100%;

@function radius($scale) {
	$values: (
		0: $radius-0,
		50: $radius-50,
		100: $radius-100,
		150: $radius-150,
		200: $radius-200,
		"full": $radius-full,
	);
	@return map.get($values, $scale);
}
// FONT SIZES
$font-size-50: 0.5rem;
$font-size-100: 1rem;
$font-size-150: 1.2rem;
$font-size-200: 1.4rem;
$font-size-250: 1.6rem;
$font-size-300: 1.8rem;
$font-size-350: 1.9rem;
$font-size-400: 2rem;
$font-size-500: 2.4rem;
$font-size-600: 3rem;
$font-size-700: 4rem;
$font-size-800: 5rem;
$font-size-900: 6rem;
$font-size-1000: 7rem;

// FONT WEIGHTS
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// COLORS
$pure-white: #fff;
$login-accent: #4da8da;
$login-input-color: #02131f;
$light-gray: #aaa5a5;
$error-color: #e74c3c;
$error-max-profiles-count: #dc4a34;
