@use "./variables" as *;
@use "./animations" as *;
@use "./components" as *;
@use "./mixins" as *;
@use "./fonts" as *;

body.browse,
body.explore {
	--main-bg: #0d0d0f;
	--user-panel-bg: #040d1b;
	--categories-bg: #1e1e22;

	height: 100%;
	background-color: var(--main-bg);
}

.container {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}
.animated {
	animation: showFilmInfo 0.5s ease-in-out forwards;
}

.browse-header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: spacing(200) spacing("inline");
	background-color: #0d0d0f;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

	&__logo {
		min-width: fit-content;
		font-size: $font-size-300;
		color: $pure-white;
		text-decoration: none;
		font-weight: $fw-semi-bold;
		letter-spacing: 1px;
		border-radius: radius(100);

		&:focus-visible {
			@include focusState;
		}
	}
	&__logo-img,
	&__logo-text {
		vertical-align: middle;
	}
	&__logo-text {
		font-size: $font-size-400;
	}
	&__logo-img {
		width: 2.1rem;
		height: auto;
	}
	&__nav {
		margin-inline-start: spacing(200);
	}
	&__links {
		display: flex;
		align-items: center;
		gap: clamp(spacing(50), calc(spacing(50) + 2vw), spacing(300));
	}
	&__user-box {
		margin-inline-start: auto;
	}
	&__links {
		list-style-type: none;
	}
	&__link,
	&__user {
		padding: 0.5rem;
		display: flex;
		text-decoration: none;
		color: $pure-white;
		background: none;
		border: none;
		cursor: pointer;

		&-icon {
			display: block;
			width: clamp(1.85rem, calc(1.5rem + 1vw), 2.1rem);
			pointer-events: none;
		}
	}

	&__link-text {
		display: none;
	}
	&__user-box {
		position: relative;
	}
	&__user-panel {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transform: translateY(100%) scale(0);
		right: 1rem;
		bottom: 0;
		background-color: #0d0d0f;
		color: #fff;
		border-radius: var(--card-radius);
		z-index: 999;
		transform-origin: top;
		border: 0.1rem solid rgba($pure-white, 0.1);
		border-radius: radius(100);

		&.visible {
			visibility: visible;
			animation: showUserPanel 0.3s forwards ease-out;
		}
	}
	&__user-panel-list {
		min-width: 20rem;
		list-style: none;
		padding: spacing(100);
	}
	&__user-info,
	&__user-panel-link {
		font-size: clamp(
			$font-size-200,
			calc($font-size-100 + 1vw),
			$font-size-250
		);
	}
	&__user {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: radius("full");
		background-color: rgba($light-gray, 0.2);

		&:focus-visible {
			@include focusState;
			border-radius: radius(100);
		}
	}
	&__hr {
		margin: 0 auto;
		width: 90%;
		border: 0.1rem solid hsla(0, 0%, 100%, 0.1);
	}
	&__user-info {
		padding: spacing(150) spacing(200);
	}
	&__user-panel-link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: spacing(100);
		text-decoration: none;
		border-radius: radius(50);
		color: $pure-white;

		&:focus-visible {
			@include focusState;
		}
	}
	&__icon {
		width: 1.8rem;
	}
	&__username {
		margin-inline-start: spacing(50);
		font-weight: $fw-bold;
		color: $login-accent;
		text-transform: uppercase;
	}
}

.browse-main {
	&__image-carousell {
		position: relative;
		overflow: hidden;
	}
	&__images {
		min-height: 70dvh;
		position: relative;
		display: flex;
		transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	}
	&__img-box {
		position: relative;
		width: 100%;
		flex-shrink: 0;
		overflow: hidden;

		&.currentVisible .browse-main__text-box {
			bottom: 8rem;
			opacity: 1;
		}
		&.currentVisible .browse-main__img {
			transform: scale(1);
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.2);
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(
				0deg,
				#0d0d0f,
				rgba(13 13 15 / 0.5),
				rgba(13, 13, 15, 0.1),
				transparent
			);
			z-index: 1;
			pointer-events: none;
		}
	}
	&__text-box {
		position: absolute;
		left: spacing("inline");
		bottom: -100%;
		opacity: 0;
		transition: bottom 1s 0.2s cubic-bezier(0.17, 0.67, 0.43, 0.98),
			opacity 1s 0.5s cubic-bezier(0.17, 0.67, 0.43, 0.98);
		z-index: 101;
	}
	&__carousell-title {
		font-size: clamp(
			$font-size-200,
			calc($font-size-100 + 5vw),
			$font-size-1000
		);
	}
	&__carousell-overview {
		max-width: 120rem;
		max-height: 12rem;
		overflow-y: auto;
		margin: spacing(100) 0 spacing(150);
		font-size: clamp($font-size-150, $font-size-100 + 1vw, $font-size-400);
		line-height: 150%;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__action-btns {
		display: flex;
		gap: spacing(100);
	}
	&__trailer-btn,
	&__see-more-btn {
		min-width: fit-content;
		display: inline-flex;
		align-items: center;
		padding: spacing(100) spacing(150);
		border: none;
		border-radius: radius(50);
		text-decoration: none;
		gap: spacing(50);
		font-weight: $fw-semi-bold;
		font-size: clamp($font-size-150, $font-size-50 + 1.2vw, $font-size-200);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;

		&:focus-visible {
			@include focusState;
		}
	}
	&__see-more-btn {
		color: $pure-white;
		background-color: rgba($pure-white, 0.1);
		backdrop-filter: blur(0.2rem);
	}
	&__trailer-play-icon {
		width: 1.2rem;
		pointer-events: none;
	}
	&__img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: scale(1.1);
		transition: transform 0.6s 0.3s;
	}
	&__carousell-controls {
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 1rem;
		gap: clamp(spacing(100), calc(spacing(50) + 1vw), spacing(200));
		z-index: 101;
	}
	&__btn {
		width: var(--carousell-btn-size);
		height: var((--carousell-btn-size));
		border: none;
		backdrop-filter: blur(6px);
		background-color: rgba($pure-white, 0.35);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		border-radius: 0.1rem;
		cursor: pointer;
		transition: width 0.3s;
		overflow: hidden;

		&:focus-visible {
			@include focusState;
		}

		&.active {
			width: calc(3 * var(--carousell-btn-size));
		}
	}
	&__progress-bar {
		display: block;
		width: 0;
		height: 100%;
		background-color: $login-accent;
		border-radius: inherit;
		transition: width 0.2s;
	}
}

.browse-section {
	padding: 0 spacing("inline") spacing(300);

	&:nth-child(2) {
		padding: spacing(800) spacing("inline") spacing(400);
	}

	&__title {
		font-size: clamp($font-size-100, calc($font-size-50 + 3vw), $font-size-600);
		margin-block-end: spacing(150);
	}
	&__slider {
		position: relative;
		overflow: hidden;
	}
	&__slider-images {
		display: flex;
		white-space: nowrap;
		overflow-x: visible;
		transition: transform 0.65s cubic-bezier(0.33, 1, 0.68, 1);
	}
	&__slider-box {
		display: inline-block;
		position: relative;
		flex-shrink: 0;
		width: 50%;
		overflow: hidden;
		border-radius: radius(150);
		transform: scale(0.9);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.7) inset;
		transition: transform 0.2s;

		&::after {
			@include smallPosterOverlay;
		}

		&:has(.browse-section__slider-img-link:focus-visible) {
			@include focusState;
		}
		&:has(.browse-section__slider-img-link:focus-visible)
			.browse-section__slider-img,
		&:has(.browse-section__add-to-list-btn:focus-visible)
			.browse-section__slider-img {
			transform: scale(1.1);
		}
		&:has(.browse-section__slider-img-link:focus-visible)::after,
		&:has(.browse-section__add-to-list-btn:focus-visible)::after {
			opacity: 1;
		}
	}
	&__slider-img-link {
		text-decoration: none;
	}
	&__slider-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	&__add-to-list-btn {
		padding: spacing(50);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		border: none;
		background: none;
		cursor: pointer;
		border-radius: radius(100);

		&:focus-visible {
			@include focusState;
		}
		&:hover + .browse-section__tooltip,
		&:focus-visible + .browse-section__tooltip,
		&:active + .browse-section__tooltip {
			display: block;
			animation: showTooltip 0.5s 0.3s forwards;
		}
	}
	&__slider-btn {
		position: absolute;
		top: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: none;
		z-index: 1000;
		cursor: pointer;
		background-color: rgba(#0d0d0f, 0);
		transition: background-color 0.3s;
		z-index: 0;
		outline: none;

		&:hover,
		&:active {
			background-color: rgba(#0d0d0f, 0.6);
		}
		&:disabled {
			display: none;
		}
	}
	&__slider-next-btn {
		right: 0;
	}
	&__slider-prev-btn {
		left: 0;
	}
	&__slider-btn-icon {
		width: 3rem;
		height: auto;
		pointer-events: none;
	}
	&__tooltip {
		min-width: max-content;
		display: none;
		padding: spacing(100);
		position: absolute;
		bottom: 3.5rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		font-size: clamp(
			$font-size-100,
			calc($font-size-100 + 0.5vw),
			$font-size-250
		);
		border-radius: radius(100);
		background-color: #0d0d0f;
		opacity: 0;
	}
}
.categories {
	padding: calc(spacing(400) + 2vw) spacing("inline");

	&__box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		gap: spacing(100);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.7) inset;
	}
	&__box-card {
		border-radius: radius(100);
	}
	&__box-link {
		position: relative;
		height: 100%;
		width: 100%;
		padding: calc(spacing(400) + 1vw) spacing(200);
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: $pure-white;
		font-size: clamp($font-size-200, $font-size-300 + 2vw, $font-size-800);
		background-color: var(--categories-bg);
		border: 0.2rem solid transparent;
		border-radius: radius(100);
		z-index: 0;
		overflow: hidden;

		&--animations {
			font-family: "Badaboom", sans-serif;
		}
		&--fantasy {
			font-family: "Ringbearer", sans-serif;
		}
		&--horrors {
			font-family: "Creepster", sans-serif;
		}
		&--comedy {
			font-family: "Hey Comic", sans-serif;
		}

		&:focus-visible {
			@include focusState;
		}
	}
}

.specified-category {
	padding: spacing(200) spacing("inline");

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: spacing(200);
	}
	&__item {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: radius(150);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.7) inset;
		overflow: hidden;

		&:has(.specified-category__link:focus-visible) {
			@include focusState;
		}
		&:has(.specified-category__link:focus-visible)::after,
		&:has(.browse-section__add-to-list-btn:focus-visible)::after {
			opacity: 1;
		}

		&::after {
			@include smallPosterOverlay;
		}
	}
}

.browse-footer {
	margin-block-start: auto;
	padding: spacing(200) spacing("inline");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: spacing(100);
	position: relative;
	width: 100%;
	background-color: var(--main-bg);

	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 0.1rem;
		top: 0;
		left: 0;
		background: linear-gradient(
			45deg,
			transparent,
			rgba($login-accent, 0.3),
			transparent
		);
	}
	&__img {
		width: clamp(2rem, 2rem + 1vw, 3rem);
	}
	&__logo {
		display: flex;
		align-items: center;
		font-size: clamp(
			$font-size-200,
			calc($font-size-100 + 2vw),
			$font-size-500
		);
		font-weight: $fw-semi-bold;
	}
	&__info {
		text-align: center;
		font-size: clamp($font-size-100, calc($font-size-50 + 1vw), $font-size-200);
	}
}

.explore {
	&__film-poster {
		position: relative;
		height: 100dvh;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(
				180deg,
				rgba(13, 13, 15, 0.8),
				rgba(13, 13, 15, 0.4),
				transparent,
				rgba(13, 13, 15, 0.8)
			);
		}
	}
	&__film-content {
		position: absolute;
		bottom: 30dvh;
		left: spacing("inline");
		color: $pure-white;
	}
	&__film-title {
		font-size: clamp(1.4rem, 1rem + 5vw, 7rem);
		opacity: 0;
		transform: translateY(2rem);
	}
	&__film-info {
		max-height: 12rem;
		overflow-y: auto;
		margin: 1rem 0 1.5rem;
		font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
		line-height: 150%;
		opacity: 0;
		transform: translateY(2rem);
		animation-delay: 0.1s;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__film-show-trailer-btn {
		min-width: fit-content;
		display: inline-flex;
		align-items: center;
		padding: spacing(100) spacing(150);
		border: none;
		border-radius: radius(50);
		text-decoration: none;
		gap: spacing(50);
		font-weight: $fw-semi-bold;
		font-size: clamp($font-size-150, $font-size-50 + 1.2vw, $font-size-200);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		opacity: 0;
		transform: translateY(2rem);
		animation-delay: 0.25s;
	}
	&__film-add-to-list-btn {
		vertical-align: middle;
		width: 3rem;
		height: 3rem;
		background-color: $login-accent;
		border: none;
		border-radius: radius(full);
		cursor: pointer;
		margin-inline-start: spacing(100);
		opacity: 0;
		transform: translateY(2rem);
		animation-delay: 0.25s;
	}
}

@media (576px <= width) {
	.browse-header {
		&__nav {
			margin-inline-start: spacing(1100);
		}
		&__user {
			width: 3.7rem;
			height: 3.7rem;
		}
		&__user-info {
			padding: spacing(200);
		}
		&__user-panel-list {
			min-width: 25rem;
			padding: spacing(200) spacing(100);
		}
	}
	.browse-section {
		&__slider-box {
			width: 33.3333%;
		}
	}
	.specified-category {
		&__container {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (700px <= width) {
	.specified-category {
		&__container {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	.explore {
		&__film-add-to-list-btn {
			width: 3.5rem;
			height: 3.5rem;
		}
	}
}
@media (768px <= width) {
	:root {
		--carousell-btn-size: 1.2rem;
	}
	.browse-header {
		&__logo-text {
			font-size: $font-size-500;
		}
		&__logo-img {
			width: 2.5rem;
			height: auto;
		}
		&__nav {
			margin-inline-start: spacing(600);
		}
		&__user {
			position: relative;
			width: 3.7rem;
			height: 3.7rem;
			overflow: hidden;
			border: 1px solid transparent;
			transition: border-color 0.3s;

			&::before {
				content: "";
				position: absolute;
				top: 1rem;
				left: -100%;
				width: 100%;
				height: 150%;
				rotate: -45deg;
				background: linear-gradient(
					90deg,
					transparent,
					hsla(0, 0%, 100%, 0.2),
					transparent
				);
			}
			&:hover::before {
				animation: userShiningAnimation 0.4s forwards;
			}
			&:hover {
				border-color: rgba($pure-white, 0.1);
			}
		}
		&__link {
			align-items: center;
			gap: spacing(150);
			outline: none;
			border: none;

			&:hover &-text::before,
			&:focus-visible &-text::before {
				transform: scale(1);
				transform-origin: left;
			}
		}
		&__link-text {
			position: relative;
			display: block;
			font-size: $font-size-250;

			&::before {
				@include accentUnderline;
			}
		}
		&__user-panel-link {
			transition: background-color 0.3s;

			&:hover {
				background-color: rgba(36, 42, 59, 0.3803921569);
			}
		}
		&__username {
			margin-inline-start: spacing(100);
		}
	}
	.browse-main {
		&__carousell-controls {
			bottom: 2rem;
		}
		&__images {
			min-height: 85dvh;
		}
		&__btn {
			border-radius: 0.2rem;
			transition: background-color 0.3s, border-color 0.3s, transform 0.3s,
				width 0.3s;

			&:hover {
				background-color: $login-accent;
				border-color: $login-accent;
				transform: scale(1.05);
			}
			&.active:hover {
				background-color: rgba($pure-white, 0.35);
			}
		}
		&__trailer-btn,
		&__see-more-btn {
			padding: spacing(150) spacing(300);
			transition: background-color 0.3s, color 0.3s;
		}
		&__trailer-btn:hover {
			background-color: $login-accent;
			color: $pure-white;
		}
		&__trailer-btn:hover .browse-main__trailer-play-icon {
			fill: $pure-white;
			stroke: $pure-white;
		}
		&__trailer-play-icon {
			transition: fill 0.3s, stroke 0.3s;
		}
		&__see-more-btn:hover {
			background-color: rgba($pure-white, 0.2);
		}
		&__trailer-play-icon {
			width: 1.5rem;
		}
	}
	.browse-section {
		&__add-to-list-btn:hover .browse-section__add-to-list-icon {
			transform: scale(1.1);
		}
		&__add-to-list-icon {
			transition: transform 0.3s;
		}
		&__slider-img {
			transition: transform 0.4s;
		}
		&__slider-box:hover .browse-section__slider-img {
			transform: scale(1.1);
		}
		&__slider-box {
			&:hover {
				transform: scale(0.95);
			}
		}
		&__slider-btn {
			opacity: 0;
			transition: opacity 0.3s;

			&:hover {
				opacity: 1;
			}
		}
	}
	.specified-category {
		&__item {
			border: 0.2rem solid transparent;
			transition: border-color 0.2s, transform 0.2s;

			&::after {
				background: linear-gradient(
					0deg,
					rgba(#0d0d0f, 0.8),
					rgba(#0d0d0f, 0.6),
					rgba(#0d0d0f, 0.4),
					transparent
				);
				opacity: 0;
			}
			&:hover::after {
				opacity: 1;
			}
			&:hover {
				transform: scale(1.05);
				border-color: rgba($pure-white, 0.8);
			}
		}
	}
	.categories {
		&__box-link {
			transition: border-color 0.2s, transform 0.2s;

			&:hover {
				border-color: $pure-white;
				transform: scale(1.03);
			}
			&:hover::before {
				opacity: 0.5;
				transform: scale(1.1);
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				opacity: 0;
				border-radius: inherit;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
				z-index: -1;
				transition: opacity 0.2s, transform 0.8s;
			}

			&--horrors::before {
				background-image: url("../../dist/img/horror-bg.webp");
			}
			&--animations::before {
				background-image: url("../../dist/img/cartoon-bg.webp");
			}
			&--fantasy::before {
				background-image: url("../../dist/img/fantasy-bg.jpg");
			}
			&--comedy::before {
				background-image: url("../../dist/img/comedy-bg.jpg");
			}
		}
	}
	.explore {
		&__film-show-trailer-btn {
			padding: spacing(150) spacing(300);
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: $login-accent;
				color: $pure-white;
			}
		}
		&__film-add-to-list-btn {
			transition: background-color 0.3s, transform 0.3s;

			&:hover {
				background-color: #3997ca;
			}
		}
	}
}
@media (800px <= width) {
	.browse-section {
		&__add-to-list-icon {
			width: 2.7rem;
			height: auto;
		}
		&__slider-box {
			&::after {
				background: linear-gradient(
					0deg,
					rgba(#0d0d0f, 0.8),
					rgba(#0d0d0f, 0.6),
					rgba(#0d0d0f, 0.4),
					transparent
				);
				opacity: 0;
			}
			&:hover::after {
				opacity: 1;
			}
		}
		&__tooltip {
			bottom: 4rem;
		}
	}
}
@media (992px<=width) {
	.browse-header {
		&__link-text {
			font-size: $font-size-350;
		}
		&__logo-img {
			width: 2.8rem;
		}
		&__logo-text {
			font-size: $font-size-600;
		}
	}
	.browse-main {
		&__img-box {
			max-height: 80dvh;
		}
	}
	.browse-section {
		&__slider-box {
			width: 25%;
		}
	}
	.categories {
		&__box {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	.specified-category {
		&__container {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}
@media (1200px <= width) {
	.browse-section {
		&__slider-box {
			width: 16.66%;
		}
	}
	.specified-category {
		&__container {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}
@media (1400px <= width) {
	.browse-section {
		&__slider-box {
			width: 16.66%;
		}
	}
	.specified-category {
		&__container {
			grid-template-columns: repeat(7, 1fr);
		}
	}
}
