@use "./fonts" as *;
@use "./variables" as *;
@use "./animations" as *;
@use "./components" as *;
@use "./mixins" as *;

body.browse {
	--main-bg: #0d0d0f;
}

.browse-header {
	display: flex;
	align-items: center;
	padding: spacing(250) spacing("inline");
	background-color: var(--main-bg);

	&__logo {
		min-width: fit-content;
		font-size: $font-size-300;
		color: $pure-white;
		text-decoration: none;
		font-weight: $fw-semi-bold;
		letter-spacing: 1px;
		border-radius: radius(100);

		&:focus-visible {
			@include focusState;
		}
	}
	&__logo-img,
	&__logo-text {
		vertical-align: middle;
	}
	&__logo-text {
		font-size: $font-size-400;
	}
	&__logo-img {
		width: 2.1rem;
		height: auto;
	}
	&__nav {
		margin-inline-start: spacing(200);
	}
	&__links {
		display: flex;
		align-items: center;
		gap: clamp(spacing(50), calc(spacing(50) + 2vw), spacing(300));
	}
	&__user-box {
		margin-inline-start: auto;
	}
	&__links {
		list-style-type: none;
	}
	&__link,
	&__user {
		padding: 0.5rem;
		display: flex;
		text-decoration: none;
		color: $pure-white;
		background: none;
		border: none;
		cursor: pointer;

		&-icon {
			display: block;
			width: clamp(1.85rem, calc(1.5rem + 1vw), 2.1rem);
			pointer-events: none;
		}
	}

	&__link-text {
		display: none;
	}
	&__user-box {
		position: relative;
	}
	&__user-panel {
		position: absolute;
		display: none;
	}
	&__user {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: radius("full");
		background-color: rgba($light-gray, 0.2);

		&:focus-visible {
			@include focusState;
			border-radius: radius(100);
		}
	}
}

.browse-main {
	&__image-carousell {
		position: relative;
		overflow: hidden;
	}
	&__images {
		position: relative;
		display: flex;
		transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	}
	&__img-box {
		position: relative;
		min-height: 70dvh;
		width: 100%;
		flex-shrink: 0;
		overflow: hidden;

		&.currentVisible .browse-main__text-box {
			bottom: 8rem;
			opacity: 1;
		}
		&.currentVisible .browse-main__img {
			transform: scale(1);
		}
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.2);
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(
				to top,
				rgba(#0d0d0f, 1),
				rgba(#0d0d0f, 0.8),
				rgba(#0d0d0f, 0.1),
				transparent
			);
			z-index: 1;
			pointer-events: none;
		}
	}
	&__text-box {
		position: absolute;
		left: spacing("inline");
		bottom: -100%;
		opacity: 0;
		transition: bottom 1s 0.2s cubic-bezier(0.17, 0.67, 0.43, 0.98),
			opacity 1s 0.5s cubic-bezier(0.17, 0.67, 0.43, 0.98);
		z-index: 101;
	}
	&__carousell-title {
		font-size: clamp(
			$font-size-200,
			calc($font-size-100 + 5vw),
			$font-size-1000
		);
	}
	&__carousell-overview {
		max-width: 120rem;
		max-height: 15rem;
		overflow-y: auto;
		margin: spacing(100) 0 spacing(150);
		font-size: clamp($font-size-150, $font-size-100 + 1vw, $font-size-400);
		line-height: 150%;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__action-btns {
		display: flex;
		gap: spacing(100);
	}
	&__trailer-btn,
	&__see-more-btn {
		min-width: fit-content;
		display: inline-flex;
		align-items: center;
		padding: spacing(100) spacing(150);
		border: none;
		border-radius: radius(50);
		text-decoration: none;
		gap: spacing(50);
		font-weight: $fw-semi-bold;
		font-size: clamp($font-size-150, $font-size-50 + 1.2vw, $font-size-200);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;

		&:focus-visible {
			@include focusState;
		}
	}
	&__see-more-btn {
		color: $pure-white;
		background-color: rgba($pure-white, 0.1);
		backdrop-filter: blur(0.2rem);
	}
	&__trailer-play-icon {
		width: 1.2rem;
		pointer-events: none;
	}
	&__img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
		transform: scale(1.1);
		transition: transform 0.6s 0.3s;
	}
	&__carousell-controls {
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 1rem;
		gap: clamp(spacing(100), calc(spacing(50) + 1vw), spacing(200));
		z-index: 101;
	}
	&__btn {
		width: var(--carousell-btn-size);
		height: var((--carousell-btn-size));
		border: none;
		backdrop-filter: blur(6px);
		background-color: rgba($pure-white, 0.35);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		border-radius: 0.1rem;
		cursor: pointer;
		transition: width 0.3s;
		overflow: hidden;

		&:focus-visible {
			@include focusState;
		}

		&.active {
			width: calc(3 * var(--carousell-btn-size));
		}
	}
	&__progress-bar {
		display: block;
		width: 0;
		height: 100%;
		background-color: $login-accent;
		border-radius: inherit;
		transition: width 0.2s;
	}
}

.browse-section {
	padding: spacing(800) spacing("inline");

	&__title {
		font-size: clamp(
			$font-size-200,
			calc($font-size-100 + 5vw),
			$font-size-600
		);
		margin-block-end: spacing(200);
	}
	&__slider {
		position: relative;
		overflow: hidden;
	}
	&__slider-images {
		white-space: nowrap;
		overflow-x: visible;
	}
	&__slider-box {
		display: inline-block;
		position: relative;
		width: 50%;
		overflow: hidden;
		border-radius: radius(150);
		transform: scale(0.95);

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(
				0deg,
				rgba(#0d0d0f, 0.7),
				rgba(#0d0d0f, 0.2),
				transparent
			);
			opacity: 1;
			transition: opacity 0.3s 0.2s;
			pointer-events: none;
		}
		&:has(.browse-section__slider-img-link:focus-visible) {
			@include focusState;
		}
	}
	&__slider-img-link {
		text-decoration: none;
	}
	&__slider-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	&__add-to-list-btn {
		padding: spacing(50);
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		border: none;
		background: none;
		cursor: pointer;
	}
	&__slider-btn {
		position: absolute;
		top: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: none;
		z-index: 1000;
		cursor: pointer;
		background-color: rgba(#0d0d0f, 0);
		transition: background-color 0.3s;

		&:hover,
		&:active {
			background-color: rgba(#0d0d0f, 0.3);
		}
	}
	&__slider-next-btn {
		right: 0;
	}
	&__slider-prev-btn {
		left: 0;
	}
	&__slider-btn-icon {
		width: 3rem;
		height: auto;
		pointer-events: none;
	}
}

@media (576px <= width) {
	.browse-header {
		&__nav {
			margin-inline-start: spacing(1100);
		}
		&__user {
			width: 3.7rem;
			height: 3.7rem;
		}
	}
	.browse-section {
		&__slider-box {
			width: 33.3333%;
		}
	}
}
@media (768px <= width) {
	:root {
		--carousell-btn-size: 1.2rem;
	}
	.browse-header {
		&__logo-text {
			font-size: $font-size-500;
		}
		&__logo-img {
			width: 2.5rem;
			height: auto;
		}
		&__nav {
			margin-inline-start: spacing(600);
		}
		&__user {
			position: relative;
			width: 3.7rem;
			height: 3.7rem;
			overflow: hidden;
			border: 1px solid transparent;
			transition: border-color 0.3s;

			&::before {
				content: "";
				position: absolute;
				top: 1rem;
				left: -100%;
				width: 100%;
				height: 150%;
				rotate: -45deg;
				background: linear-gradient(
					90deg,
					transparent,
					hsla(0, 0%, 100%, 0.2),
					transparent
				);
			}
			&:hover::before {
				animation: userShiningAnimation 0.4s forwards;
			}
			&:hover {
				border-color: rgba($pure-white, 0.1);
			}
		}
		&__link {
			align-items: center;
			gap: spacing(150);
			outline: none;
			border: none;

			&:hover &-text::before,
			&:focus-visible &-text::before {
				transform: scale(1);
				transform-origin: left;
			}
		}
		&__link-text {
			position: relative;
			display: block;
			font-size: $font-size-250;

			&::before {
				@include accentUnderline;
			}
		}
	}
	.browse-main {
		&__carousell-controls {
			bottom: 2rem;
		}
		&__img-box {
			min-height: 85dvh;
		}
		&__btn {
			border-radius: 0.2rem;
			transition: background-color 0.3s, border-color 0.3s, transform 0.3s,
				width 0.3s;

			&:hover {
				background-color: $login-accent;
				border-color: $login-accent;
				transform: scale(1.05);
			}
			&.active:hover {
				background-color: rgba($pure-white, 0.35);
			}
		}
		&__trailer-btn,
		&__see-more-btn {
			padding: spacing(100) spacing(200);
			transition: background-color 0.3s, color 0.3s;
		}
		&__trailer-btn:hover {
			background-color: $login-accent;
			color: $pure-white;
		}
		&__trailer-btn:hover .browse-main__trailer-play-icon {
			fill: $pure-white;
			stroke: $pure-white;
		}
		&__trailer-play-icon {
			transition: fill 0.3s, stroke 0.3s;
		}
		&__see-more-btn:hover {
			background-color: rgba($pure-white, 0.2);
		}
		&__trailer-play-icon {
			width: 1.5rem;
		}
	}
	.browse-section {
		&__add-to-list-btn:hover .browse-section__add-to-list-icon {
			transform: scale(1.1);
		}
		&__add-to-list-icon {
			transition: transform 0.3s;
		}
		&__slider-img {
			transition: transform 0.8s ease-in-out;
		}
		&__slider-box:hover .browse-section__slider-img {
			transform: scale(1.1);
		}
		&__slider-btn {
			opacity: 0;
			transition: opacity 0.3s;

			&:hover {
				opacity: 1;
			}
		}
	}
}
@media (800px <= width) {
	.browse-section {
		&__add-to-list-icon {
			width: 2.7rem;
			height: auto;
		}
		&__slider-box {
			&::after {
				background: linear-gradient(
					0deg,
					rgba(#0d0d0f, 0.8),
					rgba(#0d0d0f, 0.6),
					rgba(#0d0d0f, 0.4),
					transparent
				);
				opacity: 0;
			}
			&:hover::after {
				opacity: 1;
			}
		}
	}
}
@media (992px<=width) {
	.browse-header {
		&__link-text {
			font-size: $font-size-350;
		}
		&__logo-img {
			width: 2.8rem;
		}
		&__logo-text {
			font-size: $font-size-600;
		}
	}
	.browse-main {
		&__img-box {
			max-height: 80dvh;
		}
	}
	.browse-section {
		&__slider-box {
			width: 25%;
		}
	}
}
@media (1200px <= width) {
	.browse-section {
		&__slider-box {
			width: 19%;
		}
	}
}
