@use "./fonts" as *;
@use "./variables" as *;
@use "./animations" as *;
@use "./components" as *;
@use "./mixins" as *;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button,
input,
select,
textarea,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
:root {
	--carousell-btn-size: .9rem;
	--errorTxtColor: #dc4a34;
	--main-bg: radial-gradient(circle at 20% 90%, #27496d -20%, transparent 60%),
		radial-gradient(circle at 80% 32%, #27496d -10%, transparent 60%), #0a141c;
}
body {
	height: 100dvh;
	font-family: "Inter", sans-serif;
	color: $pure-white;
}
.root {
	min-height: 100%;
	width: 100%;
	background: var(--main-bg);
}
.container,
.wrapper {
	width: min(100%, 140rem);
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(spacing("header-block") - spacing("header-btn"))
		spacing("inline");
}

.login-header {
	&__logo {
		font-size: $font-size-500;
		color: $pure-white;
		text-decoration: none;
		font-weight: $fw-semi-bold;
		letter-spacing: 1px;
		border-radius: radius(100);

		&:focus-visible {
			@include focusState;
		}
	}
	&__logo-img,
	&__logo-text {
		vertical-align: middle;
	}
	&__logo-img {
		width: 3rem;
		height: auto;
	}

	&__lang-select {
		display: flex;
		align-items: center;
		padding: spacing("header-btn");
		gap: spacing(50);
		position: relative;
		background: none;
		border: none;
		color: $pure-white;
		font-size: $font-size-300;
		letter-spacing: 1px;
		cursor: pointer;
		border-radius: radius(100);

		&:focus-visible {
			@include focusState;
		}
		&.active .login-header__lang-choice {
			display: block;
			animation: showLangOptions 0.3s forwards;
		}
		&.active .login-header__lang-arrow {
			transform: rotate(180deg);
		}
	}

	&__lang-arrow {
		transition: transform 0.2s;
	}

	&__lang-list {
		position: absolute;
		display: flex;
		flex-direction: column;
		width: 100%;
		top: 100%;
		left: 0;
		list-style-type: none;
		text-align: left;
	}
	&__lang-choice {
		display: none;
		padding: spacing(100);
		transform: translateY(-100%);
		font-size: $font-size-200;
		opacity: 0;
		cursor: pointer;

		&:focus-visible {
			@include focusState;
		}
	}
}

.main {
	.wrapper {
		padding: 0 spacing("inline");
		margin: spacing(500) auto;
		text-align: center;
	}
	&__title,
	&__subtitle {
		display: block;
		line-height: 140%;
		font-size: clamp(
			$font-size-400,
			calc($font-size-500 + 3vw),
			$font-size-1000
		);
		letter-spacing: 1px;
		font-weight: $fw-bold;
	}
	&__subtitle {
		margin-block-end: spacing(150);
	}

	&__text {
		font-size: clamp(
			$font-size-200,
			calc($font-size-250 + 1vw),
			$font-size-600
		);
		letter-spacing: 1px;
		font-weight: $fw-light;
		color: rgba($pure-white, 0.95);
	}

	&__form {
		width: min(100%, 50rem);
		margin-block-start: spacing(400);
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: clamp(spacing(100), calc(spacing(100) + 0.5vw), spacing(200));
	}
	&__form-input {
		width: 100%;
		padding: clamp(spacing(150), calc(spacing(150) + 0.5vw), spacing(200));
		font-size: clamp(
			$font-size-200,
			calc($font-size-200 + 0.5vw),
			$font-size-300
		);
		border: none;
		border-radius: radius(100);
		caret-color: $light-gray;
		background-color: rgba($login-input-color, 0.9);
		color: rgba($pure-white, 0.9);

		&::placeholder {
			color: $light-gray;
		}
	}
	&__form-button {
		position: relative;
		width: 100%;
		padding: clamp(spacing(150), calc(spacing(150) + 0.5vw), spacing(200))
			spacing(300);
		border-radius: radius(100);
		border: none;
		background-color: $login-accent;
		color: $pure-white;
		font-size: clamp(
			$font-size-200,
			calc($font-size-200 + 0.2vw),
			$font-size-300
		);
		font-weight: $fw-semi-bold;
		letter-spacing: 1px;
		cursor: pointer;

		&:disabled {
			background-color: #aba1a1 !important;
			cursor: not-allowed;
		}
		&:disabled .main__form-button-text {
			visibility: hidden;
		}
	}
	&__form-error-txt {
		display: none;
		margin-block-start: spacing(50);
		color: $error-color;
		font-size: clamp(
			$font-size-200,
			calc($font-size-200 + 0.2vw),
			$font-size-300
		);
		font-weight: $fw-light;

		&.visible {
			display: block;
		}
	}

	&__form-button:focus-visible,
	&__form-input:focus,
	&__form-input:focus-visible {
		@include focusState;
	}
}

// PROFILES
.main-profiles {
	.wrapper {
		padding: spacing(900) spacing("inline");
	}

	&__title {
		text-align: center;
	}
	&__box {
		margin-block-start: spacing(900);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: clamp(spacing(600), calc(spacing(500) - 5vw), spacing(100));
	}
	&__profile,
	&__add-profile {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: spacing(200);
		flex-basis: 20rem;
		transform: scale(0.9);

		&.visible {
			animation: addProfile 0.5s forwards ease-in-out;
		}
		&.hidden {
			animation: removeProfile 0.3s forwards ease-in-out;
		}
	}
	&__add-profile {
		order: 1;
		transform: scale(1);
	}
	&__btn {
		position: relative;
		display: block;
		width: 12rem;
		height: 12rem;
		border: none;
		border-radius: radius("full");
		cursor: pointer;

		&:focus-visible {
			@include focusState;
		}

		&--add-profile {
			background-color: rgba($pure-white, 0.1);
		}
	}
	&__img,
	&__add-img {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
	&__add-img {
		top: 50%;
		width: 5rem;
		height: 5rem;
	}
	&__name {
		text-align: center;
		width: auto;
		min-width: 3ch;
		max-width: 18ch;
		padding: 0.4rem 0;
		display: inline-block;
		font-size: $font-size-250;
		pointer-events: none;
		background: none;
		color: $pure-white;
		outline: none;
		border: none;
		transition: border-color 0.3s;

		&.focused {
			pointer-events: all;
		}
	}
	&__name.focused + .name-border {
		transform: translateX(-50%) scale(1);
	}
	&__user-info {
		position: relative;
	}
	&__edit-name,
	&__save-name,
	&__remove-user {
		position: absolute;
		left: 50%;
		top: 2.5rem;
		transform: translateX(-100%);
		padding: spacing(50) spacing(100);
		background: none;
		border: none;
		cursor: pointer;
		border-radius: radius(100);

		&.hidden {
			visibility: hidden;
			pointer-events: none;
		}
		&:disabled {
			opacity: 0.4;
			cursor: auto;
		}
		&:focus-visible {
			@include focusState;
		}
	}
	&__remove-user {
		transform: translateX(0);
	}
	&__edit-icon,
	&__remove-icon {
		width: 1.5rem;
		pointer-events: none;
	}
	&__save-icon {
		width: 1.8rem;
		pointer-events: none;
	}
}

@media (768px <= width) {
	.login-header {
		&__lang-select {
			font-size: $font-size-400;
		}
		&__lang-choice {
			font-size: $font-size-250;
			border-radius: radius(50);
			transition: background-color 0.2s;

			&:hover {
				background-color: rgba($pure-white, 0.05);
			}
		}
	}
	.main {
		&__form-button {
			transition: transform 0.3s, background 0.3s;

			&:hover {
				background-color: #298bc0;
			}
		}
	}
	.main-profiles {
		&__btn--add-profile {
			transition: background-color 0.3s;

			&:hover {
				background-color: rgba($pure-white, 0.2);
			}
		}
		&__btn:not(.main-profiles__btn--add-profile) {
			border: 2px solid transparent;
			transition: border-color 0.1s;

			&:hover {
				border-color: rgba($pure-white, 0.7);
			}
		}
		&__name {
			font-size: $font-size-300;
		}
		&__edit-name,
		&__remove-user,
		&__save-name {
			top: 4rem;
		}
		&__edit-name,
		&__remove-user,
		&__save-name {
			transition: background-color 0.3s;

			&:hover {
				background-color: rgba($pure-white, 0.05);
			}
		}

		&__edit-icon,
		&__remove-icon {
			width: 1.6rem;
		}
	}
}
@media (992px <= width) {
	.login-header {
		&__logo {
			font-size: $font-size-600;
		}
		&__logo-img {
			width: 4rem;
		}
		&__lang-select {
			font-size: $font-size-400;
			padding: spacing(100);
		}
	}
	.main-profiles {
		&__btn {
			width: 15rem;
			height: 15rem;
		}
		&__name {
			font-size: $font-size-300;
		}
		&__box {
			gap: spacing(300);
		}
	}
}
